<button id="getGreet" class="btn btn-primary">Greet(Get)</button>
<img id="progress" src="~/images/takodacji.gif" style="display:none"/>
<div id="result"></div>

@section Scripts
{
    <script>
            var baseAddress="https://localhost:7015";   //Developing(Server位址)
            // var baseAddress="https:xxx";             //Staging
            // var baseAddress="https:yyyyy";           //Production: 客戶、企業、雲端


        $("#getGreet").on("click",async function(){
            // alert("getGreet");
            var p=encodeURI("Name=貓貓")
            $("#result").text("");
            $("#progress").show();
            // fetch(`${baseAddress}/Ajax/Greet?${p}`,{
            //     method:"GET"
            // }).then(response=>{
            //     $("#progress").hide();
            //     if(response.ok){
            //         return response.text();
            //     }
            // }).then(data=>{
            //     $("#result").text(data);
            // }).catch(err=>{
            //     alert(err.message);
            // });

            try{
                var response = await fetch(`${baseAddress}/Ajax/Greet?${p}`,{
                method:"GET",
                });
                if(response.ok){
                    $("#progress").hide();
                    var data = await response.text();
                    $("#result").text(data);
                }
            }
            catch(err){
                $("#progress").hide();
                alert(err.message)
            }
        });

    </script>
}